.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vh;
  margin-bottom: 20px;
}

.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: darkviolet;
}

.container-text {
  display: block;
  max-width: 299px;
}

.container-text__text {
  font-family: "Josefin Sans";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  background-color: firebrick;
}